.strikethrough{
    text-decoration: line-through;
}
.newTodoBtn{
    margin-left: 10px;
    padding: 10px 10px 7px 10px;
}
.title-label{
    margin-left: 10px;
    margin-right: 10px;
}

.deleteBtn{
    margin-left: 10px;
    padding: 10px 10px 7px 10px;
}

.toggleBtn{
    margin-left: 10px;
    padding: 10px 10px 7px 10px;
}


